<%= render "shared/navbar" %>

<h1>Edit <%= @dev.name %>'s profile </h1>

<div class="container">
  <div class="col-4 offset-4">
    <%= simple_form_for(@dev) do |f| %>
      <%= f.input :name %>
      <%= f.input :skill %>
      <%= f.input :photo_url %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div>
  <%= link_to "Back", devs_path, class: "btn btn-flat" %>
</div>
