<%= render "shared/navbar" %>

<h1>Edit <%= @dev.name %>'s profile </h1>

<div class="container">
  <div class="col-4 offset-4">
    <%= simple_form_for(@dev) do |f| %>
      <%= f.input :name %>
      <%= f.input :skill %>
      <%= f.input :photo, as: :file %>
      <%= f.input :address, :placeholder => "Your slave's address", input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :price, :placeholder => "Daily price"%>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


<div>
  <%= link_to "Back", devs_path, class: "btn btn-flat" %>
</div>
