<%= render "shared/navbar" %>
<h1>This the  devs index view</h1>

<div class="container">
  <div class="col-4">
    <%@devs.each do |dev|%>
      <%= link_to dev.name, dev_path(dev) %>
      <%= dev.skill%>
      <img src="<%=dev.photo_url%>" alt="avatar">
    <% end %>
  </div>
</div>

<%= link_to "Add a new dev", new_dev_path if policy(Dev).new? %>
