<h1>This the  devs index view</h1>
<div class="container">
  <div class="col-4">
    <%@devs.each do |dev|%>
      <%= dev.name%>
      <%= dev.skill%>
      <img src="<%=dev.photo_url%>" alt="avatar">
    <%end%>
  </div>
</div>

<%= link_to "Add a new dev", new_dev_path%>
<%= render "pages/footer"%>
