<%= render "shared/navbar" %>
<h1>This the  devs index view</h1>
<%= link_to "Check your bookings",  bookings_path%>


<div class="container py-5">
  <div class = 'row my-2'>
    <%@devs.each do |dev|%>
      <div class="col-4 mb-4 truc" data-aos="zoom-in">
        <div class="card-box bg-white rounded-lg h-100">
          <%= link_to dev_path(dev) do %>
            <div class="img-container p-3">
              <div class ="d-flex justify-content-center ">
                  <% if dev.photo.attached? %>
                    <%= cl_image_tag(dev.photo.key) %>
                  <% else %>
                    <img src="<%=dev.photo_url%>" alt="avatar">
                  <% end %>
                </div>
              </div>
              <div class="d-flex justify-content-center p-3">
                <%= dev.name %>
              </div>
            <div class="d-flex justify-content-center p-3">
              <%= dev.skill%>
            </div>
             <div class="d-flex justify-content-center p-3">
              <%= dev.address%>
            </div>
             <div class="d-flex justify-content-center p-3">
              <%= dev.price %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add a new dev", new_dev_path if policy(Dev).new? %>
