<%= render "shared/navbar" %>
<h1>This the  devs index view</h1>
<%= link_to "Check your bookings",  bookings_path%>


<div class="container py-5">
  <div class = 'row my-2'>
    <%@devs.each do |dev|%>
      <div class="col-4 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded-lg shadow h-100">
          <div class="img-container p-3">
          <div class ="d-flex justify-content-center ">
              <% if dev.photo.attached? %>
                <%= cl_image_tag(dev.photo.key) %>
              <% else %>
                <img src="<%=dev.photo_url%>" alt="avatar">
              <% end %>
            </div>
          </div>
          <div class="d-flex justify-content-center p-3">
            <%= link_to dev.name, dev_path(dev) %>
          </div>
          <div class="d-flex justify-content-center p-3">
            <%= dev.skill%>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="d-flex justify-content-center p-3">
      <% if policy(Dev).new? %>
        <div class="btn btn-gradient " >
          <%= link_to "Add a new dev", new_dev_path, class:"btn-index" %>
        </div>
      <%end%>
       </div>
</div>
