<%= render "shared/navbar" %>
<h1>This the  devs index view</h1>
<%= link_to "Check your bookings",  bookings_path%>


<div class="container">
  <div class = 'row'>
    <%@devs.each do |dev|%>
      <div class="col-4">
        <%= link_to dev.name, dev_path(dev) %>
        <%= dev.skill%>
        <% if dev.photo.attached? %>
          <%= cl_image_tag(dev.photo.key, width: 400, height: 300, crop: :fill) %>
        <% else %>
          <img src="<%=dev.photo_url%>" alt="avatar">
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Add a new dev", new_dev_path if policy(Dev).new? %>
