<%= render "shared/navbar" %>
<body>
<div class="backgrounds">
  <%= link_to "Back", devs_path, class: "btn-primary" %>
</div>


<div class="card-product">
    <% if @dev.photo.attached? %>
    <%= cl_image_tag(@dev.photo.key, width: 400, height: 300, crop: :fill) %>
  <% else %>
    <img src="<%=@dev.photo_url%>" alt="avatar">
  <% end %>
  <div class="card-product-infos">
    <h2>name: <%= @dev.name %></h2>
    <p>skills: <%= @dev.skill%></p>
    <p>price: <%= @dev.price.to_i%> $ per day</p>
  </div>
  <div class="card-product-edit">
  <%= link_to "Book this Dev", new_dev_booking_path(@dev), class: "btn-primary"  %>
    <% if policy(@dev).edit? %>
    <%= link_to "Edit this dev", edit_dev_path(@dev), class: "btn-primary" %>
  <% end %>
    <%= button_to "Delete this Dev", @dev, class: "btn-delete", method: :delete if policy(@dev).destroy? %>
  </div>
</div>
</body>
