<%= render "shared/navbar" %>
<body>
  <div class="m-3">
    <%= link_to "Back", devs_path, class: "btn-primary btn-sm" %>
  </div>

  <div class="container d-flex mb-3">
    <div class='container-left w-50 m-3 p-5'>
      <div class="card-product-bookings">
        <div class="img-container">
          <% if @dev.photo.attached? %>
            <%= cl_image_tag(@dev.photo.key) %>
          <% else %>
            <img src="<%=@dev.photo_url%>" alt="avatar">
          <% end %>
        </div>
            <div class='w-100'>
              <div class = "card-product-infos d-flex-column">
                <div class='m-2 d-flex justify-content-center'>
                  <h5><%= @dev.name %></h5>
                </div>
                <div class='m-2 d-flex justify-content-between'>
                  <p>skills:</p>
                  <p><%= @dev.skill%></p>
                </div>
                <div class='m-2 d-flex justify-content-between'>
                  <p>Address:</p>
                  <p><%= @dev.address%></p>
                </div>
                <div class='mt-2 d-flex justify-content-end'>
                  <h6 class='price text-success'><strong><%= @dev.price.to_i %> $/day</strong></h6>
                </div>
              </div>
            </div>
      </div>
      <div class=''>
        <div class="card-product-edit d-flex justify-content-between my-3">
          <div>
            <% if policy(@dev).edit? %>
              <%= link_to "Edit this dev", edit_dev_path(@dev), class: "btn-primary" %>
            <% end %>
          </div>
          <div>
            <%= button_to "", @dev, class: "fa-regular fa-trash-can", method: :delete if policy(@dev).destroy? %>
          </div>
        </div>
      </div>
      <h3>Do you want to book <%= @dev.name %> ?</h3>
      <div data-controller="dynamic-booking-price"
          data-dynamic-booking-price-price-value="<%= @dev.price %>">
        <%= simple_form_for [@dev, @booking],
                            html: {
                              data: {
                                controller: 'flatpickr'
                              }
                            } do |f| %>
          <%# <%= f.input :content %>
          <%= f.input :starting_time,
                      as: :string,
                      input_html: {
                        data: {
                          flatpickr_target: 'startDateInput',
                          dynamic_booking_price_target: 'startDateInput',
                          action: 'change->dynamic-booking-price#updatePrice'
                        }
                      }%>
          <%= f.input :ending_time,
                      as: :string,
                      input_html: {
                        data: {
                          flatpickr_target: 'endDateInput',
                          dynamic_booking_price_target: 'endDateInput',
                          action: 'change->dynamic-booking-price#updatePrice'
                        }
                      } %>
          <%= f.submit "validate", class: "btn btn-success" %>
        <% end %>
        <p>
            <!-- target the HTML tag that will display the dynamic price -->
            Total price: <span data-dynamic-booking-price-target="priceHolder"><%= @dev.price %></span> €
        </p>
      </div>
    </div>
    <div data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="w-50 m-3" id=''>
    </div>
  </div>
  <% if policy(Review).new? %>
    <%= simple_form_for([@dev, @review]) do |f| %>
      <%= f.input :content %>
      <%= f.submit :submit %>
    <% end %>
  <% end %>
  <ul class="list-group">
    <% @dev.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
      <%= button_to "Destroy this review", review_path(review), method: :delete  %>
    <% end %>
  </ul>
  <%= link_to "Back to all devs", devs_path %>
</body>
