<h1>this the devs show</h1>
<%= render "shared/navbar" %>
<h1>Thibaut le boss fait son show</h1>

<div>
  <%= link_to "Back", devs_path, class: "btn btn-flat" %>
</div>

<div>
  <%= @dev.name %> <br>
  <%= @dev.skill %> <br>
  <%= @dev.photo_url %>
</div>

<div>
  <%= link_to "Book this Dev", new_dev_booking_path(@dev), class: "btn btn-primary"  %>
</div>

<div>
  <%= link_to "delete this Dev", dev_path(@dev), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this dev?" } %>
</div>
