<h1>this the devs show</h1>
<%= render "shared/navbar" %>
<h1>Thibaut le boss fait son show</h1>

<div>
  <%= link_to "Back", devs_path, class: "btn btn-flat" %>
</div>

<div>
  <%= @dev.name %> <br>
  <%= @dev.skill %> <br>
  <%= @dev.photo_url %>
</div>

<div>

  <% if policy(@dev).edit? %>
    <%= link_to "edit this dev", edit_dev_path(@dev) %> |
  <% end %>
</div>

<div>
  <%= button_to "delete this Dev", @dev, class: "btn btn-danger", method: :delete if policy(@dev).destroy? %>

  <%= link_to "Book this Dev", new_dev_booking_path(@dev), class: "btn btn-primary"  %>
</div>
