<h1>this is index bookings</h1>
  <% @bookings.each do |booking| %>
  <%= booking.dev.name %>
  <%= booking.starting_time %>
  <%= booking.ending_time %>
  <div>
    <%= button_to "delete this booking", dev_booking_path(booking.dev, booking), class: "btn btn-danger", method: :delete if policy(booking).destroy? %>
  </div>
<%end%>


<%= link_to "Back to main index", devs_path%>
