<h1>Do you want to book him ?</h1>
<div data-controller="dynamic-booking-price"
     data-dynamic-booking-price-price-value="<%= @dev.price %>">
<%= simple_form_for [@dev, @booking],
                    html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>
  <%# <%= f.input :content %>
  <%= f.input :starting_time,
               as: :string,
               input_html: {
                data: {
                  flatpickr_target: 'startDateInput',
                  dynamic_booking_price_target: 'startDateInput',
                  action: 'change->dynamic-booking-price#updatePrice'
                }
              }%>
  <%= f.input :ending_time,
              as: :string,
              input_html: {
                data: {
                  flatpickr_target: 'endDateInput',
                  dynamic_booking_price_target: 'endDateInput',
                  action: 'change->dynamic-booking-price#updatePrice'
                }
              } %>
  <%= f.submit "validate", class: "btn btn-success" %>
<% end %>
 <p>
    <!-- target the HTML tag that will display the dynamic price -->
    Total price: <span data-dynamic-booking-price-target="priceHolder"><%= @dev.price %></span> €
</p>
</div>
